# Copy file này thành application.yml và điền thông tin của bạn
# Hoặc set các biến môi trường tương ứng

#debug: true
server:
  port: 8080

spring:
  redis:
    host: localhost
    port: 6379

  datasource:
    url: jdbc:mysql://localhost:3306/moc
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:YOUR_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:YOUR_EMAIL@gmail.com}
    password: ${EMAIL_PASSWORD:YOUR_EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: admin-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

from: ${EMAIL_USERNAME:YOUR_EMAIL@gmail.com}

logging:
  level:
    org.springframework.security: INFO

vnpay:
  tmn-code: ${VNPAY_TMN_CODE:YOUR_VNPAY_TMN_CODE}
  secret-key: ${VNPAY_SECRET_KEY:YOUR_VNPAY_SECRET_KEY}
  return-url: ${VNPAY_RETURN_URL:http://localhost:8080/api/payment/info}

jwt:
  secret-key: ${JWT_SECRET_KEY:YOUR_JWT_SECRET_KEY}

openai:
  api:
    key: ${OPENAI_API_KEY:YOUR_OPENAI_API_KEY}
    base-url: ${OPENAI_BASE_URL:https://v98store.com/v1}
  model: "gpt-4o-mini"

